scikit-image==0.18.1
PyYAML==5.3.1
tqdm==4.49.0
scikit-learn==0.24.0
pytorch-lightning==1.4.9
opencv-python==4.3.0.36
hydra-core==1.0.5
numpy==1.20.3
numba==0.53
imageio
protobuf==3.19.6
tabulate
torchvision==0.15.0
timm
mmcv-full==1.4.0
mmdet==2.24.1
scikit-image
segmentation_models_pytorch
kornia
